{{!-- {{Data}} --}}
<h1>Title: {{Data.Title}}</h1>
<p>Year: {{Data.Year}}</p>
<p>Rated: {{Data.Rated}}</p>
<p>Released: {{Data.Released}}</p>
<p>Runtime: {{Data.Runtime}}</p>
<p>Genre: {{Data.Genre}}</p>
<p>Director: {{Data.Director}}</p>
<p>Writer: {{Data.Writer}}</p>
<p>Actors: {{Data.Actors}}</p>
<p>Plot: {{Data.Plot}}</p>
<p>Language: {{Data.Language}}</p>
<p>Country: {{Data.Country}}</p>
<p>Awards: {{Data.Awards}}</p>
<p>Poster: <img src={{Data.Poster}} alt="Poster"/></p>
<h6>Ratings</h6>
{{#each data.ratings}}
    {{this.Source}}: {{this.Value}}<br/>
{{/each}}
<p>Metascore: {{Data.Metascore}}</p>
<p>IMDB Rating: {{Data.imdbRating}}</p>
<p>IMDB Votes: {{Data.imdbVotes}}</p>
<p>IMDB ID: {{Data.imdbID}}</p>
<p>Type: {{Data.Type}}</p>
<p>DVD: {{Data.DVD}}</p>
<p>Box Office: {{Data.BoxOffice}}</p>
<p>Production: {{Data.Production}}</p>
<p>Website: {{Data.Website}}</p>
<p>Response: {{Data.Response}}</p>


<section>
           
           <div class="flash-comments">
                <div class="header">
                    <div><img src="./assets/comments.png"></div>
                    <div class="text">Comments</div>
                </div>
                <form class="pure-form" id="comment-form">
                    <div class="comment-form">
                        <div class="left-side">
                            <div class="row">
                                <input type="text" required placeholder="enter your name" id="new_comment_name">
                                <input placeholder="enter valid email" required type="email" id="new_comment_email">
                            </div>
                            <div class="row">
                                <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="right-side">
                            <button 
                                type="submit" 
                                class="button-secondary pure-button">Send Comment</button>
                        </div>
                    </div>
                </form>
                 <div class="comments-list" id="comments-list">
                        <script id="comment-template" type="text/x-template">
                            <div class="user-icon">
                                <img src="./assets/user.png" />
                            </div>
                            <div class="comment-info">
                                <div class="row">
                                    <div class="name">{{name}}</div>
                                    <div class="email">{{email}}</div>
                                </div>
                                <div class="row">
                                    <div class="text">{{comment}}</div>
                                </div>
                            </div>
                        </script>
                </div>
            </div>
        </section>
       
        <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="./app.js"></script>