{{!-- {{Data}} --}}
<h1>Title: {{Title}}</h1>
<p>Year: {{Year}}</p>
<p>Rated: {{Rated}}</p>
<p>Released: {{Released}}</p>
<p>Runtime: {{Runtime}}</p>
<p>Genre: {{Genre}}</p>
<p>Director: {{Director}}</p>
<p>Writer: {{Writer}}</p>
<p>Actors: {{Actors}}</p>
<p>Plot: {{Plot}}</p>
<p>Language: {{Language}}</p>
<p>Country: {{Country}}</p>
<p>Awards: {{Awards}}</p>
<p>Poster: <img src={{Poster}} alt="Poster"/></p>
<h6>Ratings</h6>
<p>{{Ratings1}}: {{Ratings2}}</p>
<p>{{Ratings3}}: {{Ratings4}}</p>
<p>{{Ratings5}}: {{Ratings6}}</p>
<p>Metascore: {{Metascore}}</p>
<p>IMDB Rating: {{imdbRating}}</p>
<p>IMDB Votes: {{imdbVotes}}</p>
<p>IMDB ID: {{imdbID}}</p>
<p>Type: {{Type}}</p>
<p>DVD: {{DVD}}</p>
<p>Box Office: {{BoxOffice}}</p>
<p>Production: {{Production}}</p>
<p>Website: {{Website}}</p>
<p>Response: {{Response}}</p>


