{{!-- <link rel="stylesheet" href="css/index.css" type="text/css" media="all" />


<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<H1><B><U> MOVIES COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
  <div id="header">


    <div id="sub-navigation">
      <ul>

        <li><a href="#">NEW IN THEATERES</a></li>
        <li><a href="#">TOP RATED</a></li>
        <li><a href="#">BEST MOVIES OF ALL TIME</a></li>
      </ul>

    </div>
  </div>
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          <h2>NEW IN THEATERES</h2>
          <p class="text-right"><a href="new">See all</a></p>
        </div>




        {{#each New}}
        <div class="movie">

          <div class="desc"><b>{{this.Title}}</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
              <img class="img-responsive" src={{this.Poster}} alt="">

              <div class="overlay">
                <h2>{{this.Title}}</h2>
                <a class="info" href="http://localhost:5000/app/movie/{{this._id}}">READ MORE</a>
              </div>
            </div>
          </div>
          <div class="rating">
            <p>RATING</p>
            <div class="stars">
              <div class="stars-in"> </div>
            </div>
          </div>

        </div>



        {{/each}}





        <div class="cl">&nbsp;</div>
      </div>






      {{!-- <div class="box">
        <div class="head">
          <h2>BEST MOVIES OF ALL TIME</h2>
          <p class="text-right"><a href="best.html">See all</a></p>
        </div>
       {{#each Top}}      
        <div class="movie">
          <div class="desc"><b>{{this.Title}}</b></div>
          <div class="l-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src={{this.Poster}} alt="">
    
                <div class="overlay">
                   <h2>{{this.Title}}</h2>
                   <a class="info" href="#">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
      </div>

{{/each}}       
  



       
        <div class="cl">&nbsp;</div> --}}
    {{!-- </div>
  </div>
</div>
</div> --}} --}}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/collection.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-func.js"></script>





<H1><B><U> MOVIES COLLECTION</U><B></B></H1>
<BR><BR><BR>
<div id="shell">
    <div id="header">
      

    <div id="sub-navigation">
      <ul>
        
        <li><a href="#"><h2>NEW IN THEATERES</h2></a></li>
      </ul>
      
    </div>
  </div>
  
  <div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          
          
        </div>
{{#each data}}
        <div class="movie">
    
          <div class="desc"><b>{{this.Title}}</b></div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src={{this.Poster}} alt="">
    
                <div class="overlay">
                   <h2>{{this.Title}}</h2>
                   <a class="info" href="http://localhost:5000/app/movie/{{this._id}}">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="rating">
          <p>RATING</p>
          <div class="stars">
            <div class="stars-in"> </div>
          </div>
           </div>
           
      </div>



        {{/each}}
      <div class="cl">&nbsp;</div>
      </div>
      </div>
</div>
</div>

